:root {
    --tw-text-opacity: 1;
}

.logo {
    width : 80px;
    height: 40px;
}

.text {
    color : whitesmoke;
    cursor: pointer;

    &:hover {
        color: rgb(59 196 226/var(--tw-text-opacity));
    }
}